.Header{
    background-image: url(../../../resources/bannerbackground.png);
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat:  no-repeat;
}
.search{
    width: 70%;
    border: none;
    border-radius: 5px;
    background-color: transparent white;
}